.vscode/Bookmark.bcat
.vscode/CatStatus.bcat
.vscode/tasks.json
first.dSYM/Contents/Resources/Relocations/x86_64/first.yml
first.dSYM/Contents/Resources/DWARF/first
first.dSYM/Contents/Info.plist
first
.DS_Store
kasm.o
*.o